<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egf.payment.account.dao.mapper.AccountInstMapper">
  <resultMap id="BaseResultMap" type="com.egf.payment.account.dao.entity.AccountInstEntity">
    <id column="INST_ACCOUNT_NO" jdbcType="VARCHAR" property="instAccountNo" />
    <result column="ACCOUNT_TYPE" jdbcType="VARCHAR" property="accountType" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="ENABLED_STATUS" jdbcType="VARCHAR" property="enabledStatus" />
    <result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName" />
    <result column="ACCOUNT_TITLE" jdbcType="VARCHAR" property="accountTitle" />
    <result column="BALANCE_DIRECTION" jdbcType="VARCHAR" property="balanceDirection" />
    <result column="SYSTEM_AMOUNT" jdbcType="DECIMAL" property="systemAmount" />
    <result column="TRANS_RULE" jdbcType="VARCHAR" property="transRule" />
    <result column="PREVIOUS_BALANCE" jdbcType="DECIMAL" property="previousBalance" />
    <result column="LAST_TRANS_DATE" jdbcType="VARCHAR" property="lastTransDate" />
    <result column="INST_CHANNEL_API" jdbcType="VARCHAR" property="instChannelApi" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    INST_ACCOUNT_NO, ACCOUNT_TYPE, CURRENCY, BALANCE, ENABLED_STATUS, ALIAS_NAME, ACCOUNT_TITLE, 
    BALANCE_DIRECTION, SYSTEM_AMOUNT, TRANS_RULE, PREVIOUS_BALANCE, LAST_TRANS_DATE, 
    INST_CHANNEL_API, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from egf_account_inst
    where INST_ACCOUNT_NO = #{instAccountNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from egf_account_inst
    where INST_ACCOUNT_NO = #{instAccountNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.egf.payment.account.dao.entity.AccountInstEntity">
    insert into egf_account_inst (INST_ACCOUNT_NO, ACCOUNT_TYPE, CURRENCY, 
      BALANCE, ENABLED_STATUS, ALIAS_NAME, 
      ACCOUNT_TITLE, BALANCE_DIRECTION, SYSTEM_AMOUNT, 
      TRANS_RULE, PREVIOUS_BALANCE, LAST_TRANS_DATE, 
      INST_CHANNEL_API, CREATE_TIME, UPDATE_TIME
      )
    values (#{instAccountNo,jdbcType=VARCHAR}, #{accountType,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{balance,jdbcType=DECIMAL}, #{enabledStatus,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, 
      #{accountTitle,jdbcType=VARCHAR}, #{balanceDirection,jdbcType=VARCHAR}, #{systemAmount,jdbcType=DECIMAL}, 
      #{transRule,jdbcType=VARCHAR}, #{previousBalance,jdbcType=DECIMAL}, #{lastTransDate,jdbcType=VARCHAR}, 
      #{instChannelApi,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.egf.payment.account.dao.entity.AccountInstEntity">
    insert into egf_account_inst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instAccountNo != null">
        INST_ACCOUNT_NO,
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="enabledStatus != null">
        ENABLED_STATUS,
      </if>
      <if test="aliasName != null">
        ALIAS_NAME,
      </if>
      <if test="accountTitle != null">
        ACCOUNT_TITLE,
      </if>
      <if test="balanceDirection != null">
        BALANCE_DIRECTION,
      </if>
      <if test="systemAmount != null">
        SYSTEM_AMOUNT,
      </if>
      <if test="transRule != null">
        TRANS_RULE,
      </if>
      <if test="previousBalance != null">
        PREVIOUS_BALANCE,
      </if>
      <if test="lastTransDate != null">
        LAST_TRANS_DATE,
      </if>
      <if test="instChannelApi != null">
        INST_CHANNEL_API,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="instAccountNo != null">
        #{instAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="enabledStatus != null">
        #{enabledStatus,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null">
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="accountTitle != null">
        #{accountTitle,jdbcType=VARCHAR},
      </if>
      <if test="balanceDirection != null">
        #{balanceDirection,jdbcType=VARCHAR},
      </if>
      <if test="systemAmount != null">
        #{systemAmount,jdbcType=DECIMAL},
      </if>
      <if test="transRule != null">
        #{transRule,jdbcType=VARCHAR},
      </if>
      <if test="previousBalance != null">
        #{previousBalance,jdbcType=DECIMAL},
      </if>
      <if test="lastTransDate != null">
        #{lastTransDate,jdbcType=VARCHAR},
      </if>
      <if test="instChannelApi != null">
        #{instChannelApi,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.egf.payment.account.dao.entity.AccountInstEntity">
    update egf_account_inst
    <set>
      <if test="accountType != null">
        ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        BALANCE = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="enabledStatus != null">
        ENABLED_STATUS = #{enabledStatus,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null">
        ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="accountTitle != null">
        ACCOUNT_TITLE = #{accountTitle,jdbcType=VARCHAR},
      </if>
      <if test="balanceDirection != null">
        BALANCE_DIRECTION = #{balanceDirection,jdbcType=VARCHAR},
      </if>
      <if test="systemAmount != null">
        SYSTEM_AMOUNT = #{systemAmount,jdbcType=DECIMAL},
      </if>
      <if test="transRule != null">
        TRANS_RULE = #{transRule,jdbcType=VARCHAR},
      </if>
      <if test="previousBalance != null">
        PREVIOUS_BALANCE = #{previousBalance,jdbcType=DECIMAL},
      </if>
      <if test="lastTransDate != null">
        LAST_TRANS_DATE = #{lastTransDate,jdbcType=VARCHAR},
      </if>
      <if test="instChannelApi != null">
        INST_CHANNEL_API = #{instChannelApi,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where INST_ACCOUNT_NO = #{instAccountNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.egf.payment.account.dao.entity.AccountInstEntity">
    update egf_account_inst
    set ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      BALANCE = #{balance,jdbcType=DECIMAL},
      ENABLED_STATUS = #{enabledStatus,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      ACCOUNT_TITLE = #{accountTitle,jdbcType=VARCHAR},
      BALANCE_DIRECTION = #{balanceDirection,jdbcType=VARCHAR},
      SYSTEM_AMOUNT = #{systemAmount,jdbcType=DECIMAL},
      TRANS_RULE = #{transRule,jdbcType=VARCHAR},
      PREVIOUS_BALANCE = #{previousBalance,jdbcType=DECIMAL},
      LAST_TRANS_DATE = #{lastTransDate,jdbcType=VARCHAR},
      INST_CHANNEL_API = #{instChannelApi,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where INST_ACCOUNT_NO = #{instAccountNo,jdbcType=VARCHAR}
  </update>
</mapper>