<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egf.payment.account.dao.mapper.AccountFreezeLogMapper">
  <resultMap id="BaseResultMap" type="com.egf.payment.account.dao.entity.AccountFreezeLogEntity">
    <id column="FREEZE_ID_LOG" jdbcType="VARCHAR" property="freezeIdLog" />
    <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo" />
    <result column="OUT_ORDER_NO" jdbcType="VARCHAR" property="outOrderNo" />
    <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="FREEZE_TYPE" jdbcType="VARCHAR" property="freezeType" />
    <result column="TOTAL_FREEZE_AMOUNT" jdbcType="DECIMAL" property="totalFreezeAmount" />
    <result column="TYPE_FREEZE_AMOUNT" jdbcType="DECIMAL" property="typeFreezeAmount" />
    <result column="FREEZE_MEMO" jdbcType="VARCHAR" property="freezeMemo" />
    <result column="BEYOND_ORDER_NO" jdbcType="VARCHAR" property="beyondOrderNo" />
    <result column="TRANS_TIME" jdbcType="TIMESTAMP" property="transTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    FREEZE_ID_LOG, ACCOUNT_NO, OUT_ORDER_NO, TRANS_TYPE, AMOUNT, FREEZE_TYPE, TOTAL_FREEZE_AMOUNT, 
    TYPE_FREEZE_AMOUNT, FREEZE_MEMO, BEYOND_ORDER_NO, TRANS_TIME, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from egf_account_freeze_log
    where FREEZE_ID_LOG = #{freezeIdLog,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from egf_account_freeze_log
    where FREEZE_ID_LOG = #{freezeIdLog,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.egf.payment.account.dao.entity.AccountFreezeLogEntity">
    insert into egf_account_freeze_log (FREEZE_ID_LOG, ACCOUNT_NO, OUT_ORDER_NO, 
      TRANS_TYPE, AMOUNT, FREEZE_TYPE, 
      TOTAL_FREEZE_AMOUNT, TYPE_FREEZE_AMOUNT, FREEZE_MEMO, 
      BEYOND_ORDER_NO, TRANS_TIME, CREATE_TIME, 
      UPDATE_TIME)
    values (#{freezeIdLog,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{outOrderNo,jdbcType=VARCHAR}, 
      #{transType,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{freezeType,jdbcType=VARCHAR}, 
      #{totalFreezeAmount,jdbcType=DECIMAL}, #{typeFreezeAmount,jdbcType=DECIMAL}, #{freezeMemo,jdbcType=VARCHAR}, 
      #{beyondOrderNo,jdbcType=VARCHAR}, #{transTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.egf.payment.account.dao.entity.AccountFreezeLogEntity">
    insert into egf_account_freeze_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="freezeIdLog != null">
        FREEZE_ID_LOG,
      </if>
      <if test="accountNo != null">
        ACCOUNT_NO,
      </if>
      <if test="outOrderNo != null">
        OUT_ORDER_NO,
      </if>
      <if test="transType != null">
        TRANS_TYPE,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="freezeType != null">
        FREEZE_TYPE,
      </if>
      <if test="totalFreezeAmount != null">
        TOTAL_FREEZE_AMOUNT,
      </if>
      <if test="typeFreezeAmount != null">
        TYPE_FREEZE_AMOUNT,
      </if>
      <if test="freezeMemo != null">
        FREEZE_MEMO,
      </if>
      <if test="beyondOrderNo != null">
        BEYOND_ORDER_NO,
      </if>
      <if test="transTime != null">
        TRANS_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="freezeIdLog != null">
        #{freezeIdLog,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="outOrderNo != null">
        #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="freezeType != null">
        #{freezeType,jdbcType=VARCHAR},
      </if>
      <if test="totalFreezeAmount != null">
        #{totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="typeFreezeAmount != null">
        #{typeFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="freezeMemo != null">
        #{freezeMemo,jdbcType=VARCHAR},
      </if>
      <if test="beyondOrderNo != null">
        #{beyondOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transTime != null">
        #{transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.egf.payment.account.dao.entity.AccountFreezeLogEntity">
    update egf_account_freeze_log
    <set>
      <if test="accountNo != null">
        ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="outOrderNo != null">
        OUT_ORDER_NO = #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="freezeType != null">
        FREEZE_TYPE = #{freezeType,jdbcType=VARCHAR},
      </if>
      <if test="totalFreezeAmount != null">
        TOTAL_FREEZE_AMOUNT = #{totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="typeFreezeAmount != null">
        TYPE_FREEZE_AMOUNT = #{typeFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="freezeMemo != null">
        FREEZE_MEMO = #{freezeMemo,jdbcType=VARCHAR},
      </if>
      <if test="beyondOrderNo != null">
        BEYOND_ORDER_NO = #{beyondOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transTime != null">
        TRANS_TIME = #{transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FREEZE_ID_LOG = #{freezeIdLog,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.egf.payment.account.dao.entity.AccountFreezeLogEntity">
    update egf_account_freeze_log
    set ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      OUT_ORDER_NO = #{outOrderNo,jdbcType=VARCHAR},
      TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      FREEZE_TYPE = #{freezeType,jdbcType=VARCHAR},
      TOTAL_FREEZE_AMOUNT = #{totalFreezeAmount,jdbcType=DECIMAL},
      TYPE_FREEZE_AMOUNT = #{typeFreezeAmount,jdbcType=DECIMAL},
      FREEZE_MEMO = #{freezeMemo,jdbcType=VARCHAR},
      BEYOND_ORDER_NO = #{beyondOrderNo,jdbcType=VARCHAR},
      TRANS_TIME = #{transTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where FREEZE_ID_LOG = #{freezeIdLog,jdbcType=VARCHAR}
  </update>
</mapper>