<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egf.payment.account.dao.mapper.EgfAccountLogMapper">
  <resultMap id="BaseResultMap" type="com.egf.payment.account.dao.entity.EgfAccountLogEntity">
    <id column="ACCOUNT_LOG_ID" jdbcType="VARCHAR" property="accountLogId" />
    <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo" />
    <result column="TRANS_DATE" jdbcType="VARCHAR" property="transDate" />
    <result column="TRANS_CODE" jdbcType="VARCHAR" property="transCode" />
    <result column="SUB_TRANS_CODE" jdbcType="VARCHAR" property="subTransCode" />
    <result column="TRANS_BALANCE" jdbcType="DECIMAL" property="transBalance" />
    <result column="TRANS_AMOUNT" jdbcType="DECIMAL" property="transAmount" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="TRANS_CURRENCY" jdbcType="VARCHAR" property="transCurrency" />
    <result column="TRANS_ACCOUNT" jdbcType="VARCHAR" property="transAccount" />
    <result column="OTHER_ACCOUNT" jdbcType="VARCHAR" property="otherAccount" />
    <result column="TRANS_MEMO" jdbcType="VARCHAR" property="transMemo" />
    <result column="OTHER_ACCOUNT_LOG" jdbcType="VARCHAR" property="otherAccountLog" />
    <result column="ACCOUNT_TYPE" jdbcType="VARCHAR" property="accountType" />
    <result column="OTHER_ACCOUNT_TYPE" jdbcType="VARCHAR" property="otherAccountType" />
    <result column="INST_CHANNEL" jdbcType="VARCHAR" property="instChannel" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="PAY_BANK_NAME" jdbcType="VARCHAR" property="payBankName" />
    <result column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
    <result column="PAY_BANK_ID" jdbcType="VARCHAR" property="payBankId" />
    <result column="OUT_ORDER_NO" jdbcType="VARCHAR" property="outOrderNo" />
    <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType" />
    <result column="BEYOND_ORDER_NO" jdbcType="VARCHAR" property="beyondOrderNo" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ACCOUNT_LOG_ID, ACCOUNT_NO, TRANS_DATE, TRANS_CODE, SUB_TRANS_CODE, TRANS_BALANCE, 
    TRANS_AMOUNT, BALANCE, TRANS_CURRENCY, TRANS_ACCOUNT, OTHER_ACCOUNT, TRANS_MEMO, 
    OTHER_ACCOUNT_LOG, ACCOUNT_TYPE, OTHER_ACCOUNT_TYPE, INST_CHANNEL, BANK_NAME, PAY_BANK_NAME, 
    BANK_ID, PAY_BANK_ID, OUT_ORDER_NO, TRANS_TYPE, BEYOND_ORDER_NO, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from egf_account_log
    where ACCOUNT_LOG_ID = #{accountLogId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from egf_account_log
    where ACCOUNT_LOG_ID = #{accountLogId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.egf.payment.account.dao.entity.EgfAccountLogEntity">
    insert into egf_account_log (ACCOUNT_LOG_ID, ACCOUNT_NO, TRANS_DATE, 
      TRANS_CODE, SUB_TRANS_CODE, TRANS_BALANCE, 
      TRANS_AMOUNT, BALANCE, TRANS_CURRENCY, 
      TRANS_ACCOUNT, OTHER_ACCOUNT, TRANS_MEMO, 
      OTHER_ACCOUNT_LOG, ACCOUNT_TYPE, OTHER_ACCOUNT_TYPE, 
      INST_CHANNEL, BANK_NAME, PAY_BANK_NAME, 
      BANK_ID, PAY_BANK_ID, OUT_ORDER_NO, 
      TRANS_TYPE, BEYOND_ORDER_NO, CREATE_TIME, 
      UPDATE_TIME)
    values (#{accountLogId,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{transDate,jdbcType=VARCHAR}, 
      #{transCode,jdbcType=VARCHAR}, #{subTransCode,jdbcType=VARCHAR}, #{transBalance,jdbcType=DECIMAL}, 
      #{transAmount,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, #{transCurrency,jdbcType=VARCHAR}, 
      #{transAccount,jdbcType=VARCHAR}, #{otherAccount,jdbcType=VARCHAR}, #{transMemo,jdbcType=VARCHAR}, 
      #{otherAccountLog,jdbcType=VARCHAR}, #{accountType,jdbcType=VARCHAR}, #{otherAccountType,jdbcType=VARCHAR}, 
      #{instChannel,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{payBankName,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=VARCHAR}, #{payBankId,jdbcType=VARCHAR}, #{outOrderNo,jdbcType=VARCHAR}, 
      #{transType,jdbcType=VARCHAR}, #{beyondOrderNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.egf.payment.account.dao.entity.EgfAccountLogEntity">
    insert into egf_account_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountLogId != null">
        ACCOUNT_LOG_ID,
      </if>
      <if test="accountNo != null">
        ACCOUNT_NO,
      </if>
      <if test="transDate != null">
        TRANS_DATE,
      </if>
      <if test="transCode != null">
        TRANS_CODE,
      </if>
      <if test="subTransCode != null">
        SUB_TRANS_CODE,
      </if>
      <if test="transBalance != null">
        TRANS_BALANCE,
      </if>
      <if test="transAmount != null">
        TRANS_AMOUNT,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="transCurrency != null">
        TRANS_CURRENCY,
      </if>
      <if test="transAccount != null">
        TRANS_ACCOUNT,
      </if>
      <if test="otherAccount != null">
        OTHER_ACCOUNT,
      </if>
      <if test="transMemo != null">
        TRANS_MEMO,
      </if>
      <if test="otherAccountLog != null">
        OTHER_ACCOUNT_LOG,
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE,
      </if>
      <if test="otherAccountType != null">
        OTHER_ACCOUNT_TYPE,
      </if>
      <if test="instChannel != null">
        INST_CHANNEL,
      </if>
      <if test="bankName != null">
        BANK_NAME,
      </if>
      <if test="payBankName != null">
        PAY_BANK_NAME,
      </if>
      <if test="bankId != null">
        BANK_ID,
      </if>
      <if test="payBankId != null">
        PAY_BANK_ID,
      </if>
      <if test="outOrderNo != null">
        OUT_ORDER_NO,
      </if>
      <if test="transType != null">
        TRANS_TYPE,
      </if>
      <if test="beyondOrderNo != null">
        BEYOND_ORDER_NO,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountLogId != null">
        #{accountLogId,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="transCode != null">
        #{transCode,jdbcType=VARCHAR},
      </if>
      <if test="subTransCode != null">
        #{subTransCode,jdbcType=VARCHAR},
      </if>
      <if test="transBalance != null">
        #{transBalance,jdbcType=DECIMAL},
      </if>
      <if test="transAmount != null">
        #{transAmount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="transCurrency != null">
        #{transCurrency,jdbcType=VARCHAR},
      </if>
      <if test="transAccount != null">
        #{transAccount,jdbcType=VARCHAR},
      </if>
      <if test="otherAccount != null">
        #{otherAccount,jdbcType=VARCHAR},
      </if>
      <if test="transMemo != null">
        #{transMemo,jdbcType=VARCHAR},
      </if>
      <if test="otherAccountLog != null">
        #{otherAccountLog,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="otherAccountType != null">
        #{otherAccountType,jdbcType=VARCHAR},
      </if>
      <if test="instChannel != null">
        #{instChannel,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="payBankName != null">
        #{payBankName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="payBankId != null">
        #{payBankId,jdbcType=VARCHAR},
      </if>
      <if test="outOrderNo != null">
        #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="beyondOrderNo != null">
        #{beyondOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.egf.payment.account.dao.entity.EgfAccountLogEntity">
    update egf_account_log
    <set>
      <if test="accountNo != null">
        ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null">
        TRANS_DATE = #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="transCode != null">
        TRANS_CODE = #{transCode,jdbcType=VARCHAR},
      </if>
      <if test="subTransCode != null">
        SUB_TRANS_CODE = #{subTransCode,jdbcType=VARCHAR},
      </if>
      <if test="transBalance != null">
        TRANS_BALANCE = #{transBalance,jdbcType=DECIMAL},
      </if>
      <if test="transAmount != null">
        TRANS_AMOUNT = #{transAmount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        BALANCE = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="transCurrency != null">
        TRANS_CURRENCY = #{transCurrency,jdbcType=VARCHAR},
      </if>
      <if test="transAccount != null">
        TRANS_ACCOUNT = #{transAccount,jdbcType=VARCHAR},
      </if>
      <if test="otherAccount != null">
        OTHER_ACCOUNT = #{otherAccount,jdbcType=VARCHAR},
      </if>
      <if test="transMemo != null">
        TRANS_MEMO = #{transMemo,jdbcType=VARCHAR},
      </if>
      <if test="otherAccountLog != null">
        OTHER_ACCOUNT_LOG = #{otherAccountLog,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="otherAccountType != null">
        OTHER_ACCOUNT_TYPE = #{otherAccountType,jdbcType=VARCHAR},
      </if>
      <if test="instChannel != null">
        INST_CHANNEL = #{instChannel,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="payBankName != null">
        PAY_BANK_NAME = #{payBankName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        BANK_ID = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="payBankId != null">
        PAY_BANK_ID = #{payBankId,jdbcType=VARCHAR},
      </if>
      <if test="outOrderNo != null">
        OUT_ORDER_NO = #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="beyondOrderNo != null">
        BEYOND_ORDER_NO = #{beyondOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ACCOUNT_LOG_ID = #{accountLogId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.egf.payment.account.dao.entity.EgfAccountLogEntity">
    update egf_account_log
    set ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      TRANS_DATE = #{transDate,jdbcType=VARCHAR},
      TRANS_CODE = #{transCode,jdbcType=VARCHAR},
      SUB_TRANS_CODE = #{subTransCode,jdbcType=VARCHAR},
      TRANS_BALANCE = #{transBalance,jdbcType=DECIMAL},
      TRANS_AMOUNT = #{transAmount,jdbcType=DECIMAL},
      BALANCE = #{balance,jdbcType=DECIMAL},
      TRANS_CURRENCY = #{transCurrency,jdbcType=VARCHAR},
      TRANS_ACCOUNT = #{transAccount,jdbcType=VARCHAR},
      OTHER_ACCOUNT = #{otherAccount,jdbcType=VARCHAR},
      TRANS_MEMO = #{transMemo,jdbcType=VARCHAR},
      OTHER_ACCOUNT_LOG = #{otherAccountLog,jdbcType=VARCHAR},
      ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      OTHER_ACCOUNT_TYPE = #{otherAccountType,jdbcType=VARCHAR},
      INST_CHANNEL = #{instChannel,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      PAY_BANK_NAME = #{payBankName,jdbcType=VARCHAR},
      BANK_ID = #{bankId,jdbcType=VARCHAR},
      PAY_BANK_ID = #{payBankId,jdbcType=VARCHAR},
      OUT_ORDER_NO = #{outOrderNo,jdbcType=VARCHAR},
      TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      BEYOND_ORDER_NO = #{beyondOrderNo,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ACCOUNT_LOG_ID = #{accountLogId,jdbcType=VARCHAR}
  </update>
</mapper>