<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
   	<!-- 加入属性参数，可以覆盖重名文件 
  	mvn -Dmybatis.generator.overwrite=true mybatis-generator:generate
   -->
    <classPathEntry location="E:/workspace/AccountSpringBoot/src/main/resources/lib/mysql-connector-java-5.1.40.jar"/>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                         connectionURL="jdbc:mysql://localhost:3306/egf_account"
                         userId="egfaccount"
                         password="egfaccount">
         </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.egf.payment.account.dao.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mappers" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.egf.payment.account.dao.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        
        <table schema="egf_account" tableName="egf_account" domainObjectName="AccountEntity"
               mapperName="AccountMapper"
               enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false">
        </table>

		<table schema="egf_account" tableName="egf_account_log"
			 	domainObjectName="AccountLogEntity" 	
               mapperName="AccountLogMapper"
               enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false">
        </table>
        <table schema="egf_account" tableName="egf_account_freeze" domainObjectName="AccountFreezeEntity"
               mapperName="AccountFreezeMapper"
               enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false">
        </table>
        
         <table schema="egf_account" tableName="egf_account_freeze_log" domainObjectName="AccountFreezeLogEntity"
               mapperName="AccountFreezeLogMapper"
               enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false">
        </table>
        
         <table schema="egf_account" tableName="egf_account_inst" domainObjectName="AccountInstEntity"
               mapperName="AccountInstMapper"
               enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false">
        </table>
        
         <table schema="egf_account" tableName="egf_account_inst_log" domainObjectName="AccountInstLogEntity"
               mapperName="AccountInstLogMapper"
               enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false">
        </table>
    </context>
</generatorConfiguration>